* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
    max-width: 480px;
    margin: 0 auto;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.hidden {
    display: none;
}

.row {
    width: 100%;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.display-table {
    display: table;
    width: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.form-group {
    display: block;
    width: 100%;
    padding: 3px 6px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ec4c3c;
    border-radius: 3px;
    outline: none;
}

.btn-default-bd,
.btn-default-bg {
    width: 100%;
    line-height: 32px;
    padding: 0;
    font-weight: normal;
    text-shadow: none;
}

.btn-default-bg {
    border: none;
    background-color: #ec4c3c;
    color: #ffffff;
}

.btn-default-bd {
    border: 1px solid #ec4c3c;
    color: #ec4c3c;
    background-color: #ffffff;
}